@media (max-width: 1520px) {

  /* News */

  .news__card__content {
    min-height: 540px;
  }
  
  /* About us */

  .about_us__item {
    min-height: 350px;
    padding: 15px;
  }

  .about_us__item svg {
    width: 100px;
    height: 100px;
  }

  .about_us__item-1 svg {
    margin-bottom: 20px;
  }
  
  .about_us__item-3 svg {
    width: 120px;
    height: 120px;
  }
  
  .about_us__item-4 svg {
    width: 120px;
    height: 120px;
  }

  .about_us__dscr {
    font-size: 20px;
  }

  /* Catalog */

  .catalog__full {
    flex-direction: column;
  }

  .catalog__items-left {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .catalog__items-right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* Contacts */

  .contacts__item-address {
    flex-direction: column;
  }

  .contacts__title-address {
    margin-bottom: 20px;
  }

  .contacts__item-timetable {
    flex-direction: column;
  }

  .contacts__title-timetable {
    margin-bottom: 20px;
  }

  /* CARPETS */

  .carpets__link {
    font-size: 30px;
  }

  /* Product */
  .product__title {
    font-size: 17px;
  }
  
  .product__text {
    font-size: 17px;
  }
}

@media (max-width: 1170px) {

  /* Header */

  .header__container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .header__left{
    justify-self: flex-start;
  }

  .header__right {
    display: none;
  }

  .header__link-catalog {
    display: none;
  }

  .header__nav__items {
    margin-bottom: 20px;
  }

  .header__link {
    font-size: 17px;
  }

  .header__info__item {
    max-width: 320px;
    min-height: 270px;
  }
  
  .header__title__text {
    font-size: 24px;
  }

  .close {
    margin-bottom: 40px;
  }

  /* Contacts */

  .contacts__full {
    flex-direction: column;
  }

  .contacts__left {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .contacts__item {
    max-width: none;
  }

  .contacts__item-address {
    flex-direction: row;
  }

  .contacts__title-address {
    margin-bottom: 0;
  }

  .contacts__item-timetable {
    flex-direction: row;
  }

  .contacts__title-timetable {
    margin-bottom: 0;
  }

  .contacts__right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* Product */
  .product__title {
    font-size: 13px;
  }
  
  .product__text {
    font-size: 13px;
  }

  .choices__inner {
    font-size: 15px;
  }

  .product__btn {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  
  /* Global */

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 34px;
    line-height: 39px;
  }

  .title {
    margin-bottom: 30px;
  }

  .text {
    font-size: 25px;
  }

  /* Header */

  .header__container {
    padding: 10px 75px;
  }

  .header__mail {
    padding: 0;
  }

  .header__mail svg {
    padding-bottom: 4px;
  }

  .header__nav {
    margin-bottom: 20px;
  }

  .header__nav__social svg {
    height: 47px;
    width: 47px;
  }
  
  .header__mail svg {
    height: 50px;
    width: 50px;
  }

  /* Hero */

  .hero {
    min-height: 470px;
  }

  .hero__title {
    max-width: 440px;
  }

  .hero__dscr {
    max-width: 520px;
    font-size: 18px;
    line-height: 22px;
  }

  /* News */

  .news__cards:nth-child(-n+2) {
    margin-bottom: 30px;
  }

  .news__card__content {
    min-height: 620px;
  }

  /* About us */

  .about_us__items:not(:last-child) {
    margin-bottom: 20px;
  }

  .about_us__item {
    min-height: 200px;
    padding: 5px;
  }
  
  .about_us__item svg {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
  }
  
  .about_us__item-3 svg {
    width: 120px;
    height: 120px;
  }
  
  .about_us__item-4 svg {
    width: 120px;
    height: 120px;
  }
  
  .about_us__dscr {
    font-size: 24px;
  }

  /* Catalog */

  .catalog__items-right {
    grid-template-columns: 1fr;
  }

  .catalog__item {
    min-height: 270px;
  }

  .catalog__item-3 {
    min-height: 270px;
  }

  .catalog__item-4 {
    min-height: 270px;
  }

  .catalog__title {
    font-size: 34px;
    line-height: 39px;
  }

  .catalog__link {
    font-size: 18px;
  }

  .carpets__link {
    font-size: 50px;
  }

  /* Product */
  .product__title {
    font-size: 24px;
  }
  
  .product__text {
    font-size: 24px;
  }

  .choices__inner {
    font-size: 24px;
  }

  .product__btn {
    font-size: 24px;
  }

}

@media (max-width: 820px) {
  
  /* Header */

  .header__logo-img img{
    height: 58px;
  }

  /* News */

  .news__card__content {
    min-height: 700px;
  }

  .product__title {
    font-size: 22px;
  }
  
  .product__text {
    font-size: 22px;
  }

}

@media (max-width: 767px) {

  /* News */

  .news__cards:not(:last-child) {
    margin-bottom: 30px;
  }

  .news__card__content {
    min-height: 400px;
  }

  .product__title {
    font-size: 24px;
  }
  
  .product__text {
    font-size: 24px;
  }
}

@media (max-width: 670px) {

  /* Global */

  h1 {
    font-size: 40px;
  }

  .text {
    font-size: 20px;
  }

  /* Header */

  .header__info__item {
    max-width: none;
    min-height: 170px;
  }

  .header__title__text {
    font-size: 20px;
    line-height: 100%;
  }

  /* Hero */

  .hero__title {
    max-width: 340px;
  }

  .hero__dscr {
    max-width: 520px;
    font-size: 15px;
    line-height: 22px;
  }

  .hero__btn {
    padding: 12px 22px;
    font-size: 20px;
  }
  
  /* Contacts */

  .contacts__item-address {
    flex-direction: column;
  }

  .contacts__title-address {
    margin-bottom: 20px;
  }
  
}

@media (max-width: 575px) {

  /* Global */

  .container {
    padding: 0 15px;
  }

  h2 {
    font-size: 24px;
    line-height: 29px;
  }

  .title {
    margin-bottom: 10px;
  } 

  /* Header */

  .header {
    margin-bottom: 20px;
  }

  .header__container {
    padding: 10px 15px;
  }

  .header__container-menu {
    padding: 10px 15px;
  }

  .header__info__item {
    margin-bottom: 20px;
  }

  /* Hero */

  .hero {
    margin-bottom: 10px;
  }

  .news {
    margin-bottom: 10px;
  }

  /* About us */

  .about_us {
    margin-bottom: 10px;
  }

  .about_us__item {
    min-height: none;
    padding: 10px;
  }

  .about_us__item svg {
    width: 80px;
    height: 80px;
  }

  .about_us__item-1 svg {
    margin-bottom: 20px;
  }
  
  .about_us__item-3 svg {
    width: 100px;
    height: 100px;
  }
  
  .about_us__item-4 svg {
    width: 100px;
    height: 100px;
  }

  .about_us__dscr {
    font-size: 18px;
    line-height: 20px;
  }

  /* Catalog */

  .catalog {
    margin-bottom: 10px;
  }

  .catalog__items {
    row-gap: 10px;
    column-gap: 10px;
  }

  .catalog__item {
    min-height: 180px;
  }

  .catalog__item-3 {
    min-height: 180px;
  }

  .catalog__item-4 {
    min-height: 180px;
  }

  .catalog__items-left {
    margin-bottom: 10px;
  }

  .catalog__title {
    width: auto;
    font-size: 24px;
    line-height: 29px;
  }

  .catalog__text {
    font-size: 18px;
    padding: 10px 0 40px 0px;
  }

  .catalog__link {
    font-size: 15px;
  }

  /* Contacts */

  .contacts {
    margin-bottom: 10px;
  }

  .contacts__item-tel {
    flex-direction: column;
  }

  .contacts__title-tel {
    margin-bottom: 20px;
  }

  .contacts__item-mail {
    flex-direction: column;
  }

  .contacts__title-mail {
    margin-bottom: 20px;
  }

  .contacts__item-timetable {
    flex-direction: column;
  }

  .contacts__title-timetable {
    margin-bottom: 20px;
  }

  /* Footer */

  .footer__container {
    justify-content: center;
  }

  .footer__logo {
    display: none;
  }

  .footer__right {
    justify-content: space-between;
  }

  /* CARPETS */

  .carpets__link {
    font-size: 32px;
    line-height: 32px;
  }

  /* Form */

  .contacts__title__form {
    font-size: 28px;
    line-height: 100%;
  }

  .form__title {
    font-size: 18px;
  }
  
  .form__label__input {
    height: 40px;
    font-size: 18px;
  }

  .form__radio__item span {
    font-size: 18px;
  }

  .form__label__radio::before {
    flex: 0 0 20px;
    height: 20px;
  }
  
  .form__label__radio::after {
    width: 12px;
    height: 12px;
  }

  .form__textarea {
    min-height: 85px;
    font-size: 18px;
  }

  /* PRIVACY */

  ol {
    padding: 0;
  }  
}

@media (max-width: 500px) {

  /* Global */

  h1 {
    font-size: 28px;
  }

  /* Header */

  .header__link {
    font-size: 16px;
    line-height: 20px;
  }

  .header__nav__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .header__nav__social svg {
    height: 47px;
    width: 47px;
  }
  
  .header__mail svg {
    height: 50px;
    width: 50px;
  }

  .header__title__text {
    font-size: 16px;
    line-height: 100%;
  }

  /* Hero */

  .hero {
    min-height: 380px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .hero__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero__title {
    max-width: 240px;
    font-size: 28px;
    line-height: 32px;
  }

  .hero__dscr {
    max-width: 520px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero__btn {
    padding: 10px 20px;
    font-size: 18px;
    align-self: auto;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  /* News */

  .news__card__title {
    font-size: 28px;
  }

  .news__card__content__text {
    font-size: 20px;
    line-height: 150%;
  }

  /* Catalog */

  .catalog__title {
    text-shadow: #000 0px 0px 8px;
  }

  /* Contacts */

  .contacts__items {
    padding: 35px 20px;
  }

  .product__title {
    font-size: 22px;
  }
  
  .product__text {
    font-size: 22px;
  }

  .choices__inner {
    font-size: 22px;
  }

  .product__btn {
    font-size: 22px;
  }

  /* СLEAN */

  .clean {
    top: 0;
    right: 50%;                       
    transform: translate(50%, 20%);
  }

  .clean__img {
    width: 150px;
  }
    
  .clean__title {
    font-size: 20px;
  }
  
  .clean__text {
    line-height: 150%;
    font-size: 14px;
  }
} 