html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
color: inherit;
text-decoration: none;
}

img {
max-width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'), url('../fonts/MontserratRegular.woff2') format("woff2"),
  url('../fonts/MontserratRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBold'), url('../fonts/MontserratBold.woff2') format("woff2"),
  url('../fonts/MontserratBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold'), url('../fonts/MontserratExtraBold.woff2') format("woff2"),
  url('../fonts/MontserratExtraBold.woff') format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 1 auto;
}

/* Global */

.container {
  position: relative;
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --brend-color: #7C1C26;
  --brend-active-color: #c41224;
  --brendtext-color: #FFCC66;
  --text-color: #333;
  --btn-color: #7C1C26;
  --btnhover-color: #5D151C;
  --btnactive-color: #FFF;
  --btntext-color: #FFF;
  --btntext-active-color: #7C1C26;
  --titletext-color: #FFF;
  --herotext-color: #FFF;
  --catologtext-color: #FFF;
}

.btn {
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--btntext-color);
  border: 1px solid var(--btn-color);
  border-radius: 20px;
  background-color: var(--btn-color);
}

.btn:hover {
  background-color: var(--btnhover-color);
}

.btn:active {
  color: var(--brend-color);
  background-color: var(--btnactive-color);
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

h1 {
  margin: 0;
  font-size: 72px;
  font-weight: 700;
}

h2 {
  margin: 0;
  padding: 0 30px;
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.title {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

.ornament-left {
  width: 600px;
  min-height: 100px;
  background-image: url(../img/ornament.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.ornament-right {
  width: 600px;
  min-height: 100px;
  background-image: url(../img/ornament.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  transform: scale(-1,1)
}

.logo:focus {
  outline: 2px solid var(--brend-color);
  outline-offset: 5px;
  border-radius: 20px;
}

.pop__up {
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 10;
  max-width: 1170px;
  min-height: 20px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  color: var(--btntext-color);
  background-color: var(--brend-color);
  border: 1px solid var(--btntext-color);
  border-radius: 20px;
  transform: translate(0, 500px);
  margin: 0 auto;
}

.pop__up-visible {
  transform: translate(0, -20px);
  transition: transform .3s ease-in-out;
}

.pop__up__text {
  margin-right: 20px;
  color: var(--btntext-color);
}

.pop__up__btn {
  border: 1px solid var(--btntext-color);
}

/* Header */

.header {
  margin-bottom: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

.header__container {
  padding: 30px 75px;
  justify-content: space-between;
  align-items: center;
}

.header__container-menu {
  padding: 30px 75px;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  align-items: center;
}

.header__right {
  align-items: center;
}

.burger {
  display: block;
  position: relative;
  width: 30px;
  height: 23px;
  margin-right: 30px;
}

.burger:focus {
  outline: 2px solid var(--brend-color);
  outline-offset: 7px;
  border-radius: 2px;
}

.burger:hover {
  outline: none;
}

.burger:hover span {
  background-color: var(--brend-color);
}

.burger:active span {
  background-color: var(--brend-active-color);
}

.burger__line {
  position: absolute;
  width: 30px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
}

.burger__line:first-child {
  top: 0;
}

.burger__line:nth-child(2) {
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.burger__line:last-child {
  bottom: 0;
}

.header__menu {
  position: fixed;
  top: 0;
  z-index: 100;
  min-width: 100%;
  align-items: center;
  background-color: #FFF;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-110%);
  transition: transform .3s ease-in-out;
}

.header__menu-active {
  transform: none;
}

.header__nav {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.close {
  display: block;
  position: relative;
  height: 23px;
  margin-bottom: 70px;
}

.close__line {
  position: absolute;
  width: 30px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
}

.close__line:first-child {
  left: 25%;
  top: 50%;
  transform: rotate(45deg);
  transform-origin: center;
}

.close__line:last-child {
  left: 25%;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
}

.close:focus span {
  outline: 1px solid var(--brend-color);
  outline-offset: 2px;
  }

.close:hover span {
  background-color: var(--brend-active-color);
}

.close:active span {
  background-color: var(--brend-color);
}

.header__nav__items {
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
}

.header__nav__item:not(:last-child) {
  margin-bottom: 15px;
}

.header__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
}

.header__link:focus {
  outline: 2px solid var(--brend-color);
  outline-offset: 7px;
  border-radius: 2px;
}

.header__link:hover {
  outline: none;
  color: var(--brend-active-color);
}

.header__link:active {
  color: var(--brend-color);
}

.header__nav__social svg {
  height: 51px;
  width: 51px;
}

.header__mail-menu svg {
  height: 54px;
  width: 54px;
}

.header__info {
  justify-content: center;
}

.header__info__item {
  position: relative;
  max-width: 610px;
  min-height: 330px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.header__info__item-1 {
  background-image: url(../img/delivery.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__info__item-2 {
  background-image: url(../img/clean.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  border-radius: 15px;
  opacity: .5;
  transition: opacity .3s ease-in-out;
}

.header__title__link:hover {
  opacity: 0;
}

.header__title__text {
  margin: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  text-shadow: #000 0px 0px 8px;
  color: var(--titletext-color);
}

.header__title-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}  

.header__logo-img {
  height: 90px;
}

.header__vk svg {
  stroke: #000;
}

.header__vk:focus {
  outline: 2px solid var(--brend-color);
  border-radius: 2px;
}

.header__vk:hover svg {
  outline: none;
  stroke: var(--brend-color);
}

.header__vk:active svg {
  stroke: var(--brend-active-color);
}

.header__phone svg {
  stroke: #000;
}

.header__phone:focus {
  outline: 2px solid var(--brend-color);
  border-radius: 2px;
}

.header__phone:hover svg {
  outline: none;
  stroke: var(--brend-color);
}

.header__phone:active svg {
  stroke: var(--brend-active-color);
}

.header__mail svg {
  stroke: #000;
}

.header__mail:focus {
  outline: 2px solid var(--brend-color);
  border-radius: 2px;
}

.header__mail:hover svg {
  outline: none;
  stroke: var(--brend-color);
}

.header__mail:active svg {
  stroke: var(--brend-active-color);
}

.header__mail {
  padding-bottom: 4px;
  padding-left: 3px;
}

/* Hero */

.hero {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1770px;
  min-height: 620px;
  margin-bottom: 50px;
}

.swiper-slide {
  display: flex;
  align-items: center;
}

.hero__content {
  position: relative;
  z-index: 5;
  margin-left: 40px;
}

.hero__list {
  margin-bottom: 40px;
  color: var(--herotext-color);
  text-shadow: #000 0 0 5px;
}

.hero__title {
  max-width: 500px;
  margin-bottom: 30px;
}

.hero__dscr {
  max-width: 750px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--herotext-color);
}

.hero__btn {
  padding: 20px 37px;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  align-self: flex-start;
  background-color: var(--herotext-color);
  color:var(--brend-color);
}

.hero__btn:focus {
  outline: 2px solid var(--brend-color);
}

.hero__btn:hover {
  outline: none;
  opacity: .9;
}

.hero__btn:active {
  opacity: 1;
  background-color: var(--brend-color);
  color: var(--btntext-color);
}

.swiper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-items: stretch;
  border-radius: 20px;
}

.swiper-slide {
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background-color: var(--btntext-color);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 15px;
}

/* News */

.news {
  margin-bottom: 50px;
}

.news__content {
  align-items: center;
}

.news__card {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.news__cards:nth-child(-n+2) {
  margin-bottom: 30px;
}

.news__card__content {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 20px 10px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  justify-content: center;
}

.news__card__title {
  margin: 0;
  font-weight: 700;
  font-size: 34px;
  color: #7C1C26;
}

.news__card__content__text__link {
  font-weight: 700;
  color: var(--brend-color);
}

.news__card-img {
  display: flex;
  justify-content: center;
}

.news__card-img img {
  width: 100%;
  max-height: 600px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* About us */

.about_us {
  margin-bottom: 50px;
}

.about_us__item {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid var(--brend-color);
  border-radius: 25px;
}

.about_us__item svg {
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
  fill: var(--brend-color);
  stroke: var(--brend-color);
}

.about_us__item-3 svg {
  width: 170px;
  height: 170px;
}

.about_us__item-4 svg {
  width: 170px;
  height: 170px;
}

.about_us__dscr {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: var(--brend-color);
}

/* Catalog */

.catalog {
  margin-bottom: 50px;
}

.catalog__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

.catalog__items-left {
  display: grid;
  grid-template-columns: 1fr;
}

.catalog__title {
  width: 350px;
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  color: var(--catologtext-color);
}

.catalog__text {
  font-size: 30px;
  line-height: 20px;
  color: var(--catologtext-color);
  margin: 0;
  padding: 25px 0 45px 0px;
}

.catalog__item {
  position: relative;
  padding-left: 30px;
}

.catalog__link {
  font-weight: 400;
  font-size: 26px;
  line-height: 16px;
  padding: 0 15px 3px 0px;
  color: var(--brendtext-color);
  background-image: url("../img/catalog_arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 10px;
  transition: color 0.1s ease-in-out, padding-right 0.3s ease-in-out;
}

.catalog__link::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

.catalog__link:focus::after {
  outline: 2px solid var(--brend-color);
  outline-offset: 5px;
  border-radius: 20px;
}

.catalog__link:focus {
  outline: none;
}

.catalog__link:hover {
  padding-right: 25px;
}

.catalog__link:active {
  border: 0;
  padding-right: 15px;
  border-bottom: 2px solid var(--brendtext-color);
}

.catalog__item-1 {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/catalog_modern.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--brend-color);
  border-radius: 15px;
}

.catalog__item-2 {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/catalog_traditional.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--brend-color);
  border-radius: 15px;
}

.catalog__title-right {
  margin: 0;
  padding-bottom: 20px;
  line-height: 60px;
  color: var(--catologtext-color);
}

.catalog__item-3 {
  flex-direction: column;
  min-height: 540px;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 85.7%), url("../img/catalog_all.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--brend-color);
  border-radius: 15px;
}

.catalog__item-4 {
  flex-direction: column;
  min-height: 540px;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 85.7%), url("../img/catalog_clean.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--brend-color);
  border-radius: 15px;
}

/* Contacts */

.contacts {
  margin-bottom: 50px;
}

.contacts__items {
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 0 8px 2px #7C1C26;
}

.contacts__item {
  display: flex;
  max-width: 800px;
}

.contacts__item-timetable {
  justify-content: space-between;
}

.contacts__item:not(:last-child) {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 5px solid var(--brend-color);
  border-radius: 20px;
}

.contacts__item-left {
  justify-self: flex-start;
  min-width: 155px;
}

.contacts__item-right {
  text-align: right;
  justify-self: flex-start;
}

.contacts__title {
  font-weight: 700;
  font-size: 20px;
}

.contacts__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.contactas__item-text {
  padding-left: 40px;
  background-image: url(../img/location-text.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 30px 30px;
}

.contacts__link:focus{
  outline: 2px solid var(--brend-color);
  outline-offset: 7px;
  border-radius: 2px;
}

.contacts__link:hover {
  outline: none;
  color: var(--brend-color);
}

.contacts__link:active {
  color: var(--brend-active-color);
}

.contacts__item-address {
  font-style: normal;
}

/* Map */

.contacts__right {
  min-height: 580px;
}

.map {
  min-height: 100%;
}

[class*="balloon__layout"] {
  border: 2px solid var(--brend-color);
  border-radius: 20px;
}

[class*="balloon__tail"]::after {
  border: 2px solid var(--brend-color);
}

[class*="balloon__close-button"] {
  background: url(/img/close.svg);
  background-repeat: no-repeat;
  background-position: right top;
  opacity: 1;
}

.balloon__title {
  font-weight: 700;
}

/* Footer */

.footer {
  background-image: url(../img/footer.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footer__container {
  height: 140px;
  justify-content: space-between;
  align-items: center;
}

.footer__logo-img {
  width: 170px;
}

.footer__logo:focus {
  outline-color: #FFF;
}

.footer__vk svg {
  stroke: #FFF;
}

.footer__vk:hover svg {
  outline: none;
  opacity: .5;
}

.footer__vk:active svg {
  outline: none;
  stroke: var(--brend-active-color);
}

.footer__phone svg {
  stroke: #FFF;
}

.footer__phone:hover svg {
  outline: none;
  opacity: .5;
}

.footer__phone:active svg {
  outline: none;
  stroke: var(--brend-active-color);
}

.footer__mail svg {
  padding-bottom: 5px;
  stroke: #FFF;
}

.footer__mail:hover svg {
  outline: none;
  opacity: .5;
}

.footer__mail:active svg {
  outline: none;
  stroke: var(--brend-active-color);
}


/* CARPETS */

.carpets {
  margin-bottom: 50px;
}

.carpets__title {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px 0;
  text-align: center;
  background-image: url(../img/carpets-title.webp);
  color: var(--titletext-color);
  border-radius: 20px;
}

.carpets__items {
  position: relative;
  min-height: 400px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.carpets__link:focus {
  outline: 2px solid var(--brend-color);
  outline-offset: 5px;
  border-radius: 20px;
}

.carpets__link:hover {
  outline: none;
}

.carpets__items:hover {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}

.carpets__items:active {
  box-shadow: 0px 0px 15px 2px var(--brend-color);
}

.carpets__link {
  content: "";
  position: absolute;
  padding-top: 300px;
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  text-align: center;
  color: var(--catologtext-color);
  text-shadow: #000 0px 0px 8px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carpets__tradition {
  background-image: url(../img/tradition.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carpets__modern {
  background-image: url(../img/modern.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carpets__kids {
  background-image: url(../img/kids.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carpets__fluffy {
  background-image: url(../img/fluffy.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carpets__path {
  background-image: url(../img/path.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carpets__dirt {
  background-image: url(../img/dirt.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* COMPANY */

.company {
  flex-direction: column;
}

.company__text {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 200%;
  text-align: justify;
  text-indent: 50px;
}

.company__text:first-child {
  font-weight: 700;
}

.company__img {
  max-width: 1500px;
  align-self: center;
}

.company__img img {
  border-radius: 20px;
}

/* DELIVERY */

.delivery__text {
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 200%;
  text-align: justify;
}

/* PRIVACY */

ol {
  counter-reset: li;
  list-style: none;
}

.privacy__item::before {
  content: counters(li, ".") ". ";
  counter-increment: li;
  font-weight: 700;
}

.privacy__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

.privacy__text {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 150%;
  text-align: justify;
}

.margin-top {
  margin-top: 20px;
}

/* CLEAN */

.clean__container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clean {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clean__img {
  max-width: 200px;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(360deg);
  }
}

.clean__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--brend-color);
}

.clean__text {
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
}