.app {
  padding: 16px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.create-button {
  cursor: pointer;
  border: none;
  background-color: #3d3bff;
  color: #fff;
  border-radius: 16px;
  font-size: 16px;
  padding: 8px;
}
